<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<header>
    <nav>
        <ul>
            <li><a th:href="@{/}" class="active">Home</a></li>
            <li><a th:href="@{/login}">Log In</a></li>
            <li><a th:href="@{/signup}">Sign Up</a></li>
        </ul>
    </nav>
</header>

<body>
<h2>Welcome to our Code Fellow Ship website.</h2>
<div class="button-container">
    <a th:href="@{/login}" class="login-button">Log In</a>
    <a th:href="@{/signup}" class="signup-button">Sign Up</a>
</div>
</body>
</html>